/*=$=________///////////////__==Ги опфаќа сите елементи==__\\\\\\\\\\\\\\\________=$=*/
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
/*=$=________///////////////__==Ги опфаќа сите елементи==__\\\\\\\\\\\\\\\________=$=*/

/*=$=________///////////////__Позадината на екранот/страницата__\\\\\\\\\\\\\\\________=$=*/
   body{
        background-color: #24292E;
   }
/*=$=________///////////////__Позадината на екранот/страницата__\\\\\\\\\\\\\\\________=$=*/

/*=$=________///////////////__Контејнер шо го содржи целиот контент__\\\\\\\\\\\\\\\________=$=*/
   .container{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
   }
/*=$=________///////////////__Контејнер шо го содржи целиот контент__\\\\\\\\\\\\\\\________=$=*/

/*=$=________///////////////__Главен наслов__\\\\\\\\\\\\\\\________=$=*/
   .mainHeading{
    text-align: center;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 50px;
   }
/*=$=________///////////////__Главен наслов__\\\\\\\\\\\\\\\________=$=*/

/*=$=________///////////////__Контејнер кој ќе ги содржи импутот и контејнерот за самите пораки__\\\\\\\\\\\\\\\________=$=*/
   .inputAndMessages{
    max-width: 1420px;
    height: auto;
   }
/*=$=________///////////////__Контејнер кој ќе ги содржи импутот и контејнерот за самите пораки__\\\\\\\\\\\\\\\________=$=*/

/*=$=________///////////////__inputField__\\\\\\\\\\\\\\\________=$=*/
   #inputField{
    background: none;
    border: 2px solid #A4A4A4;
    padding: 10px;
    min-width: 550px;
    color: #FFFFFF;
    font-size: 20px;
   }
/*=$=________///////////////__inputField__\\\\\\\\\\\\\\\________=$=*/